<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="<%= method %>">
      <label for="bookID">book ID</label>
      <input type="number" id="bookID" name="bookID" required placeholder="insert book id" />
      <button type="submit"><%= title%></button>
    </form>
    <a href="/">
            <button>Home</button>
        </a>
  </body>
</html>
